<p class="font_7">Hey --Name--,</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Congratulations! We have received your order.&nbsp;</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">The details for your order are:</p>
<p class="font_7">&nbsp; &nbsp; &nbsp; &nbsp;Units Ordered: Variable1</p>
<p class="font_7">&nbsp; &nbsp; &nbsp; &nbsp;Total Price&nbsp; &nbsp; &nbsp; : Variable2</p>
<p class="font_7">&nbsp; &nbsp; &nbsp; &nbsp;Order Status&nbsp; &nbsp;: Variable3</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Thanks for choosing us! Welcome to the family.&nbsp;</p>
<p class="font_7">Kindly go through this page &amp; User Manual book to get started quickly with Quick Messaging Assist&copy;</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Welcome to the famiy!</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">With warm &amp; best regards</p>