<p class="font_7">Hey --Name--,</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">We're launching Quick Messaging Assist&copy;. Quick Messaging Assist&copy; is a product which values your time &amp; helps you utilize it in the most effective way.&nbsp;</p>
<p class="font_7">Supported Platforms -&gt;&nbsp;</p>
<p class="font_7">&nbsp; &nbsp; &nbsp; &nbsp;LinkedIn, WhatsApp, Facebook</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Email Services -&gt;&nbsp;</p>
<p class="font_7">&nbsp; &nbsp; &nbsp; &nbsp; GMail, Yahoo Mail, Outlook/Hotmail, AOL</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Launching @ introductory price of $29.</p>
<p class="font_7"><span class="wixGuard">​</span></p>
<p class="font_7">Get your copy at <a>https://www.quickmessagingassist.com/buy-now</a></p>